* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.promo {
    padding: 39px 0 62px 0;
    min-height: 800px;
    background: url('../img/bg/top_bg.jpg') center center/cover no-repeat;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    margin-top: 14px;
    line-height: 15px;
}

h1.title {
    font-family: 'Roboto', sans-serif;
    font-size: 41px;
    font-weight: 900;
    text-align: center;
    color: #f9bf3b;
    text-transform: uppercase;
    margin-top: 53px;
    line-height: 56px;
}

.simple .title_big {
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-top: 21px;
    line-height: 56px;
}

h2.title {
    font-family: 'Roboto', sans-serif;
    font-size: 41px;
    font-weight: 900;
    text-align: center;
    color: #f9bf3b;
    text-transform: uppercase;
    margin-top: 30px;
    line-height: 36px;
}

.promo_text {
    padding: 0 13px;
    margin-top: 23px;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    color: white;
}

.promo_text span {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #f9bf3b;
}

.promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    box-shadow: 
        inset 0px -5px 0 0 rgba(0, 0, 0, 0.18), 
        0 0 8px rgba(0, 0, 0, 0.56);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    border: none;
    border-radius: 4px;
    text-shadow: -0.7px -0.7px 0 rgba(0, 0, 0, 0.22);
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    line-height: 24px;
    letter-spacing: normal;
    text-align: center;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.more_info div {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 14px;
    letter-spacing: normal;
    text-align: center;
    color:white;
    text-transform: uppercase;
    margin-top: 73px;
}

.more_info img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting_header {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 28px;
    letter-spacing: normal;
    text-align: center;
    color: #252525;
}

.waiting_divider {
    margin: 18px auto;
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
}

.waiting_subheader {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 26px;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}

.waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting_item {
    width: 342px;
}

.waiting_item div {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    margin-top: 33px;
}

.optimization {
    padding: 102px 0 107px 0;
    min-height: 550px;
}

.optimization_header {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 28px;
    letter-spacing: normal;
    text-align: right;
    color: #299cbd;
    text-transform: uppercase;
}

.optimization_text {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.59;
    letter-spacing: normal;
    text-align: justify;
    color: #4a4a4a;
    margin-left: 380px;
    margin-top: 25px;
}

.optimization_text span {
    font-weight: bold;
}

.optimization img {
    position: absolute;
    bottom: -107px;
    left: -240px;
    z-index: -1;
}

.expect {
    min-height: 447px;
    background: url('../img/bg/middle_bg.jpg') center center/cover no-repeat;
    padding-top: 86px;
}

.expect_header {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 26px;
    letter-spacing: normal;
    text-align: center;
    color: #efefef;
    text-transform: uppercase;
}

.expect_divider {
    margin: 0 auto;
    margin-top: 23px;
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
}

.expect_flexbox {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.expect_flexbox .item {
    width: 204px;
}

.expect_flexbox .item div:first-child {
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.expect_descr {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    color: #efefef;
    margin-top: 25px;
}

.present {
    min-height: 628px;
    background-color: #efefef;
    padding-top: 86px;
}

.present_img {
    display: block;
    margin: 0 auto;
}

.present_descr {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #252525;
    margin-top: 42px;
}

.present .promo_btn {
    margin-top: 52px;
}

.webinar {
    min-height: 515px;
    padding-top: 89px;
}

.webinar_img {
    display: block;
    margin: 0 auto;
}

.first_web {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: normal;
    text-align: center;
    color: #252525;
    margin-top: 27px;
}

.webinar .date {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 33px;
    letter-spacing: normal;
    text-align: center;
    color: #299cbd;
    margin-top: 30px;
}

.webinar .places {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.87;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
    margin-top: 25px;
}

footer {
    min-height: 166px;
    padding-top: 61px;
    background-color: #1a1a1a;
}

footer .footer_info {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #888888;
}

.footer_info a {
    text-decoration: none;
    border-bottom: 1px solid #888888;
    color: #888888;
}